html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F4F5F0;
    overflow-x: hidden;
}

.app-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.snap-container {
    transform: translateZ(0);
    backface-visibility: hidden;
    flex: 1;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.snap-section {
    transform: translate3d(0, 0, 0);
    scroll-snap-align: start;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
}

.snap-section--scrollable {
    height: auto;
    scroll-snap-align: start;
}

.snap-container::-webkit-scrollbar {
    display: none;
}

.snap-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

