@import '../styles/variables';
@import '../styles/mixins';

.section-info {
    @include flex-layout(row, center, center);
    background-image: var(--bg-image);
    background-size: cover;
    @include background(100%, 100vh);
    margin-bottom: 40px;

    &__headline {
        @include text(500, $font-size-title, white);
        width: 60%;
    }
}

@media (max-width: 850px) {
    .section-info {
        background-size: cover;
        @include background(100%, 100vh);

        &__headline {
            @include text(500, $font-size-title/1.6, white);
            width: 80%;
        }
    }
}

@media (max-width: 468px) {
    .section-info {
        background-size: cover;
        @include background(100%, 100vh);

        &__headline {
            @include text(500, $font-size-title/2, white);
        }
    }
}