@import '../styles/variables';
@import '../styles/mixins';

.background-info
{
    @include flex-layout(row, start, center);
    background-image: var(--bg-image);
    background-size: cover;
    @include background(100%, 100vh);
}
.welcome-headline
{
    @include text(500, $font-size-title, white);
    width: 950px;
    margin-top: 200px;
}

