@import '../styles/variables';
@import '../styles/mixins';

.about-company {
    width: 100%;
    min-height: 30vh;
    background-color: $background-color;
    white-space: nowrap;

    @include flex-layout(row, center, center);

    &__section {
        @include flex-layout(row, start, space-between);
        width: 80%;
        height: 80%;
        background-color: $background-color;
        gap: $gap-large;
    }

    &__brand {
        @include text-style($font-size-xl, $font-weight-light);
    }
    &__contacts-block {
        @include flex-layout(column, start, start);
        gap: $gap-mini;
    }
    &__title {
        @include text-style($font-size-lg, $font-weight-light);
    }
    &__contact {
        @include text-style($font-size-md, $font-weight-light);
        @include hover-underline();
    }
}

@media (max-width: 768px) {
    .about-company {
        min-height: 10vh;
        @include flex-layout(column, center, center);

        &__section {
        @include flex-layout(column, start, space-between);
            background-color: $background-color;

            gap: $gap-mini;
        }

        &__brand {
            @include text-style($font-size-xl/1.6, $font-weight-light);
        }

        &__title {
            @include text-style($font-size-lg/1.6, $font-weight-light);

        }
        &__contact {
            @include text-style($font-size-md/1.6, $font-weight-light);

        }
    }
}

@media (max-width: 468px) {
    .about-company {
        min-height: 10vh;
        @include flex-layout(column, center, center);
    }
}
