@import '../styles/variables';
@import '../styles/mixins';

.footer {
  @include flex-layout(row, center, center);
  width: 100%;
  padding: 20px;

  background-color: #FEFEFE;
  &__content {
    @include flex-layout(row, start, space-between);
    width: 90%;
  }

  &__section {
    @include flex-layout(row, center, center);
    gap: 12px;
  }

  &__title {
    @include text(600, $font-size-md, $primary-color);
  }

  &__description {
    @include text(500, $font-size-mini, #B4B6B5);
  }

   &__icon {
    @include icon(24px, 24px);
  }
}
  @media (max-width: 768px) {
  .footer {
    padding: 10px;

    &__title {
      @include text(600, $font-size-md/1.6, $primary-color);
      white-space: nowrap;
    }
    &__description {
      display: none;
    }
      &__icon {
      @include icon(12px, 12px);
    }

  }
}

