@import '../styles/variables';
@import '../styles/mixins';

.footer {
    @include flex-layout(row, center, center);
    width: 100%;
    min-height: 8vh;
    background-color: #FEFEFE;
    border-radius: 35px 35px 0 0;
}

.footer-content {
    @include flex-layout(row, start, space-between);
    width: 90%;
}

.footer-section {
    @include flex-layout(row, center, center);
    gap: 12px;
}

.footer-title {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #193140;
    margin: 0;
}

.footer-description {
   @include text(500, $font-size-mini, #B4B6B5);
    line-height: 1.5;
    max-width: 300px;
}

.icon-footer
{
    @include icon()
}
