$primary-color: #193140;
$background-color: #FEFEFE;
$font-family: 'Segoe UI', sans-serif;
$font-size-title: 52px;
$font-size-xl: 48px;
$font-size-l: 32px;
$font-size-lg: 20px;
$font-size-md: 18px;
$font-size-mini: 12px;
$font-size-text: 24px;
