@import '../styles/variables';
@import '../styles/mixins';

.block-info {
    @include flex-layout(row, center, center);
    width: 90%;
    gap: 40px;
    margin-bottom: 40px;
    min-width: 700px;
}

.block-info.reverse {
    flex-direction: row-reverse;
}

.background-description {
    @include flex-layout(column, center, center);
    background-color: #FEFEFE;
    width: 50%;
    min-height: auto;
    height: 90vh;
    min-width: 300px;
}

.image-object {
    @include flex-layout(column, center, center);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    min-height: auto;
    height: 90vh;
    min-width: 800px;
    background-image: var(--bg-image);
}

.blockText {
    @include flex-layout(column, center, center);
    width: 80%;
    height: 80%;
    gap: 20px;
}

.title-infoBlock {
    @include text(500, $font-size-xl, $primary-color);
}

.text-infoBlock {
    @include text(300, $font-size-l, $primary-color, justify);
}


@media (max-width: 800px) {

    .block-info
    {
        gap: 20px;
        margin-bottom: 20px;
         flex-wrap: wrap;
    }
    .block-info.reverse {
      flex-direction: row-reverse;
    }
    .background-description
    {
        min-width: 100px;
        height: 50vh;
    }

    .image-object
    {
        min-width: 100px;
        height: 50vh;
    }

    .blockText
    {
        gap: 10px;
    }
    .title-infoBlock
    {
        font-size: 12px;
    }
    .text-infoBlock
    {
        font-size: 16px;
    }

}