@import '../styles/variables';
@import '../styles/mixins';

.block-info {
    @include flex-layout(row, center, center);
    width: 90%;
    gap: 40px;
    margin-bottom: 40px;
    min-width: 700px;


    &--reverse {
        flex-direction: row-reverse;
    }

    &__description {
        @include flex-layout(column, center, center);
        background-color: #FEFEFE;
        width: 50%;
        height: 90vh;
        min-width: 50vh;
        gap: 20px;
    }

    &__image {
        @include flex-layout(column, center, center);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 50%;
        min-height: auto;
        height: 90vh;
        min-width: 800px;
        background-image: var(--bg-image);
        &:hover
        {


        }
    }

    &__text {
        @include flex-layout(column, center, center);
        width: 80%;
        gap: 20px;
    }

    &__title {
        @include text(500, $font-size-xl, $primary-color);
    }

    &__description-text {
        @include text(300, $font-size-l, $primary-color, justify);
    }
}

@media (max-width: 800px) {
    .block-info {
        gap: 20px;
        margin-bottom: 20px;
        flex-wrap: wrap;

        &--reverse {
            flex-direction: row-reverse;
        }

        &__description {
            min-width: 100px;
            height: 50vh;

        }

        &__image {
            min-width: 100px;
            height: 50vh;
        }

        &__text {
            gap: 10px;
        }

        &__title {
            font-size: 12px;
        }

        &__description-text {
            font-size: 16px;
        }
    }
}