@import '../styles/variables';
@import '../styles/mixins';

.header {
    width: 100%;
    @include flex-layout(column, center, center);
}

.navigation-block
{
    @include flex-layout(row, center, space-between);
    width: 90%;
    height: 100%;

}

.name-website
{
    @include text(400, $font-size-xl, $primary-color);
}

@media (max-width: 768px) {
    .navigation-block {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .name-website {
        font-size: 36px;
    }
}