
@import '../styles/mixins';
@import '../styles/variables';

.button-navigation
{
    @include flex-layout(row, center, center);
    @include button(228px, 49px, $primary-color, 33px);
    max-width: 298px;
    max-height: 49px;
    outline: none;
    border: none;
}

.button-text
{
    @include text(500, $font-size-text, white);
    white-space: nowrap;
}

@media (max-width: 768px) {

    .button-navigation {
        @include button(100px, 23px, $primary-color, 16px);
    }
    .button-text
    {
        @include text(500, $font-size-text/2, white);
        white-space: nowrap;
    }
}
