@import '../styles/mixins';
@import '../styles/variables';

.button {
    @include flex-layout(row, center, center);
    @include button(auto, auto, $primary-color, 33px);
    min-width: auto;
    min-height: auto;
    max-width: 298px;
    max-height: 53px;
    outline: none;
    border: none;
    padding: 15px 15px;

}

.button__text {
    @include text(500, $font-size-text, white);
    white-space: nowrap;
}

@media (max-width: 768px) {
    .button {
        @include button(auto, auto, $primary-color, 16px);
        padding: 7px 11px;

    }
    .button__text {
        @include text(500, $font-size-text/1.6, white);
        white-space: nowrap;
    }
}

@media (max-width: 468px) {
    .button {
        @include button(auto, auto, $primary-color, 16px);
        padding: 7px 9px;
    }
    .button__text {
        @include text(500, $font-size-text/2, white);
        white-space: nowrap;
    }
}